body {
  margin-top: 66px;
}

.main-header {
  padding-top: 50px;
}

.navbar.fixed-top .dropdown-menu-right {
  right: 5px;
  left: auto;
}

.message-date {
  position: absolute;
  right: 25px;
  top: 20px;
}