{% extends "base.html" %}

{% block extra_title %}Weather | {% endblock extra_title %}

{% block main_content %}

<h1>Weather</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <ul class="list-group list-group-flush">
      {% if weather %}
        <li class="list-group-item active bg-secondary">
          <h4>
            {{ weather.name }}
            <img src="http://openweathermap.org/img/w/{{ weather.weather[0].icon }}.png" alt="weather icon" class="navbar-weather-icon">
          </h4>
        </li>

        <li class="list-group-item text-capitalize">
          {{ weather.weather[0].description }}
        </li>

        <li class="list-group-item">
          {{ weather.main.temp }}ºC
        </li>
      {% else %}
      <li class="list-group-item">
        Location not found :(
      </li>
      {% endif %}

      <li class="list-group-item">
        <form action="/weather" method="get" class="form-inline">
          <label class="sr-only" for="inputLocation">Location</label>
          <input type="text" name="location" class="form-control mb-2 mr-sm-2" id="inputLocation" placeholder="Location">
          <button type="submit" class="btn btn-outline-info mb-2">Check</button>
        </form>
      </li>
    </ul>
  </div>
</div>


{% endblock main_content %}